<div class="w-100">
     <data-table id="persons-grid"
        [headerTitle]="'Model Events for '+ deusModelService.charID"
        [items]="_eventsList"

        [pagination]="false"
        [indexColumn]="true"
        [indexColumnHeader]="'#'"
        [selectColumn]="false"
        [multiSelect]="true"
        [selectOnRowClick]="true"
     >

        <data-table-column
            [property]="'timestamp'"
            [header]="'Timestamp'"
            [sortable]="false"
            [resizable]="true">
        </data-table-column>

        <data-table-column
            [property]="'eventType'"
            [header]="'Event Name'"
            [sortable]="false"
            [resizable]="true">
        </data-table-column>

        <data-table-column
            [property]="'dataAsString'"
            [header]="'Event Data'"
            [sortable]="false"
            [resizable]="true">
        </data-table-column>
     </data-table>
</div>
