<div class="container-fluid h-100 px-0" style="overflow-y:hidden;">

    <!--Header line-->
    <nav class="navbar navbar-toggleable navbar-inverse bg-black fixed-top pageNav" >
        <a class="navbar-brand" routerLink="/models" routerLinkActive="active">
            <img src="assets/deus-logo.svg" width="35" height="35" class="d-inline-block align-middle" alt=""/>
            {{title}}
        </a>
        <div class="navbar-nav mr-auto ml-5" *ngIf="authService.isLoggedIn">
            <a class= "nav-item nav-link active" routerLink="/models" routerLinkActive="active">
                Models
            </a>
            <a class="nav-item nav-link disabled" href="#">
                Import
            </a>
        </div>

        <form class="form-inline justify-content-end" *ngIf="authService.isLoggedIn">
            <input name="CharID" class="form-control mx-3" type="text" id="charID" placeholder="Character ID or E-mail"
                    [(ngModel)]="charID" (keyup.enter)="deusModelService.onLoadButton(charID)"/>

            <!--Кнопки загрузки данных модели-->
            <button type="button" class="btn btn-primary px-6 mr-3"
                    [disabled]="charID==''"
                    (click)="deusModelService.onLoadButton(charID)" >
                    Load Model
            </button>
        </form>

         <div class="navbar-nav logoutButton" *ngIf="authService.isLoggedIn">
            <a class= "nav-item nav-link" (click)="onLogout()" >
                Logout
            </a>
        </div>
    </nav>

    <!--Основная страница (управление моделями)-->
    <router-outlet></router-outlet>
    <!--<models-page #modelsPage ></models-page>-->

    <!--Footer-->
    <div class="row pageFooter m-0 px-2">
        <div class="col-8 p-0" >
            v. 5.0
        </div>
        <div class="col-4 p-0 text-right" >
            <a [href]="configService.config.dbUrl + '_utils/'" target="_blank">{{configService.config.dbUrl}}</a>
        </div>
    </div>
</div>
