$page-header-height:  60px;
$page-footer-height:  20px;
$backgroundColor: white;

$delimetersColor: #BDBDBD;
$sectionHeaderColor: #9E9E9E;

$editorNavWrapperHeight: 52px;

//===================================
.navbar-brand {
    font-size: 1.5rem;
}

//===================================
.pageNav {
    height: $page-header-height;
}

//===================================
.pageFooter{
    position: absolute;
    height: $page-footer-height;
    bottom: 0px;
    background-color: #616161;
    width: 100% !important;
    color: white;
}

 .pageFooter a{
     color: white;
     text-decoration: none;
 }

 .pageFooter a:hover{
     text-decoration: underline;
 }

.nav-item{
    font-size: 1.1rem;
}

.logoutButton {
    cursor: pointer;
    padding-left: 2rem;
}
