<!--Верхний блок с кнопками и логином\паролем-->
<div class="p-0 topBarHeight" style="position: fixed; z-index: 120; width: 100%">
    <div class="card border-left-0 border-right-0" >
        <div class="card-block">
            <form class="form-inline justify-content-end">
                    <input name="CharID" class="form-control mx-3" type="text" id="charID" placeholder="Character ID or E-mail"
                            [(ngModel)]="deusModelService.charID" (keyup.enter)="loadModel()"/>

                    <input name="Password" type="password" class="form-control mx-3" id="charPass" placeholder="Password"
                        [(ngModel)]="deusModelService.charPass" (keyup.enter)="loadModel()"/>

                <!--Кнопки загрузки данных модели-->
                    <button type="button" class="btn btn-primary px-6 ml-10 mr-3" style="height: 3rem;"
                            [disabled]="deusModelService.charID==''"
                            (click)="loadModel();showAlertText('Model load!!!');" >
                            Load Model
                    </button>
                    <button type="button" class="btn btn-sm"  style="height: 3rem;"
                            [class.btn-success]="this.isAutoUpdate"
                            [disabled]="deusModelService.charID==''"
                            [class.btn-default]="!this.isAutoUpdate"
                            (click)="autoUpdateToogle()" >
                            Auto<br/>Reload
                    </button>
            </form>
        </div>
    </div>
</div>
<!--Finish: Верхний блок с кнопками и логином\паролем -->

<div class="topBarHeight"></div>

<div class="container-fluid p-4">

<div class="row">

    <!--Левый блок с редакторами и кнопками-->
    <div class="col-md-5 px-2">
        <div class="card">
            <div class="card-header dme-card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" [class.active]="rightPaneType=='events'" (click)="rightPaneType='events'" href="#">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="rightPaneType=='editor'" (click)="rightPaneType='editor'" href="#">Editor</a>
                    </li>
                </ul>
            </div>

            <!--Управление событиями: посылка и очередь-->
            <div class="card-block" [style.display]="rightPaneType=='events' ? 'block' : 'none'">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="eventNameText">Event type</label>

                            <select id="mdeEventSelector" class="form-control" data-plugin="mde-select2-element">
                                <option *ngFor="let evt of preloadEvents" [value]="evt.type">{{evt.name}}</option>
                            </select>

                            <!--<div class="input-group">
                                <input [(ngModel)]="eventName" type="text" class="form-control" id="eventNameText" aria-label="Event name">
                                <div ngbDropdown class="input-group-btn">
                                    <button type="button" class="btn btn-secondary" id="eventNameDropdownBtn" ngbDropdownToggle>Events</button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="eventNameDropdownBtn">
                                        <!--Список готовых событий-->
                                        <!--<a *ngFor="let evt of preloadEvents"  class="dropdown-item"
                                                             (click)="eventName = evt.type; eventData=evt.template" href="#">{{evt.name}}</a>-->

                                        <!--Событие Refresh-->
                                        <!--<div role="separator" class="dropdown-divider"></div>
                                        <a class="dropdown-item" (click)="eventName = this.deusModelService.refreshEventName; eventData=''"
                                                href="#">Refresh Event</a>-->
                                    <!--</div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="eventData">Event Data</label>
                            <textarea [(ngModel)]="eventData" class="form-control" id="eventData" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button type="button" class="btn btn-danger mr-3" style="height: 3rem;"
                                 [disabled]="eventName=='' || deusModelService.charID==''"
                                 (click)="sentEvent(true)">
                                    Send &amp; Refresh
                            </button>
                            <button type="button" class="btn btn-secondary" style="height: 3rem;"
                                [disabled]="eventName=='' || deusModelService.charID==''"
                                (click)="sentEvent(false)">
                                    Send Event
                            </button>
                        </div>
                    </div>
            </div>
            <!--Finish: Управление событиями: посылка и очередь-->

            <!--Редактор модели -->
            <div class="card-block" [style.display]="rightPaneType=='editor' ? 'block' : 'none'">
                <div>
                </div>
            </div>
            <!--Finish: Редактор модели -->
        </div>
    </div>
    <!--Finish: Левый блок с редакторами и кнопками-->

    <!--Правый блок с JSON'ами-->
    <div class="col-md-7 px-2">
        <div class="card">
            <div class="card-header dme-card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" [class.active]="modelViewType=='base'" (click)="modelViewType='base'; loadModel();" href="#">Base Model</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="modelViewType=='work'" (click)="modelViewType='work'; loadModel();" href="#">Work Model</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="modelViewType=='view'" (click)="modelViewType='view'; loadModel();" href="#">View Model</a>
                    </li>
                </ul>
            </div>
            <div class="card-block">
                <dme-json-view></dme-json-view>
            </div>
        </div>
    </div>
    <!--Finish: Правый блок с JSON'ами-->

</div>

</div>
<!--<ngb-alert class="fixed-bottom" [@alertState]="alertState" type="success" [dismissible]="true">{{alertText}}</ngb-alert>-->

<dme-log-window></dme-log-window>
